.borderingRightClass

{
  float:right;
  border: 10px solid transparent;
  padding: 10px;
  border-image: url(/img/border.png) 25 round;
}

.alignRight

{
  float:right;
  border: 10px solid transparent;
  padding: 10px;
}

.alignLeft

{
  float:left;
  border: 10px solid transparent;
  padding: 10px;
}

g.classGroup text {
  font-size: 8px;
}
